:root {
  --primary-color: #000;
  --primary-hover: #333;
  --primary-active: #555;
  --secondary-color: #fff;
  --background-color: #FAF9F8;
  --text-color: #333;
  --border-color: #ddd;
  --error-color: #c00;
  --success-color: #0c7d0c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
